@using Newtonsoft.Json;

@model IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div id="current-temperature">
        <h2>Latest reading: @(Model.TakenAtTime)</h2>
        <div id="temperature">@(Model.CurrentTemperature)&#8451;</div><div id="humidity">@(Model.CurrentHumidity)%</div>
    </div>
    <hr>
    <canvas id="temp-chart"></canvas>
    <canvas id="humi-chart"></canvas>
    <div style="display: none" id="temp-data">@Html.Raw(JsonConvert.SerializeObject(Model))</div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/temperature.js" asp-append-version="true"></script>
}