@using Newtonsoft.Json;

@model TemperatureChartViewModel<double>
@{
    ViewData["Title"] = "Temperature";
}

<div class="text-center">
    <canvas id="tempChart"></canvas>
    <div style="display: none" id="tempData">@Html.Raw(JsonConvert.SerializeObject(Model))</div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/temperature.js" asp-append-version="true"></script>
}